.posts {
    display: flex;
    flex-direction: column;
  }

  .posts-container {
    margin: 1rem 5rem 0rem 5rem;
  }

  .posts-container > h2 {
    margin-top: 0;
  }

  .post {
    background-color: var(--white);
    border: 1px solid black;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .post-title-topic-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-content: flex-start;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .post-title {
    cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
  }

  .post-title:hover {
    color: #007bff; /* Changes background color on hover */

  }

  .post-topic {
    margin-top: 5px;
    font-size: 12px;
  }